* {
    font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.desc {
    text-indent: 30px;
}

ul.program {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;

}

li {
    margin: 0rem 0rem;
}



.heading {
    padding: 0rem 1rem;
    border-left: 3px gray solid;


}

p,
b {
    font-size: 14px;
}

p {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}